#{extends 'main.html' /}
#{set title:'Home' /}

<div class="row">
  <div class="span12">
  
	#{ifErrors}
	<div name="alert">
	    #{errors}
	   <div class="alert alert-error">${error} </div>
	    #{/errors}
	</div>
	#{/ifErrors}

    <h2>Aktuelle Termine</h2>
    <div class="well">
      <table class="table">
        <thead>
          <tr>
            <th>Speise</th>
            <th>Datum</th>
            <th>Anmeldungen
            <th>davon vegetarisch</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          #{list items:events, as:'event'}
          <tr id="event_${event.id}">
            <td data-popover-title="Teilnehmer" data-popover-content="#{list items:event.getUsers(), as:'user'}${user},#{/list}">
              <a href="@{showUsers(event.id)}">${event.title}</a>
            </td>
            <td>${event.date.format('dd MMM yy')}</td>
            <td>${event.bookings.size()}</td>
            #{if event.vegetarian_opt}
            <td>${event.getVegetarians().size()}</td>
            #{/if}
 			#{else}
 			<td>N/A</td>
 			#{/else}
            <td>
              #{if aktUser.shortname in event.getUsers()}
              <form method="post" name="Buchung" action="@{Bookingcontroller.removeBooking(event.id, aktUser.id, page)}">
                <input type="hidden" name="event.id" value="${event.id}"/>
                <input type="submit" class="btn btn-danger" value="Stornieren">
              </form>
              #{/if}
 			  #{else}
	              #{if event.slots == -1 || event.slots > event.users.size()}
	              <form method="post" name="Buchung" action="@{Bookingcontroller.addBooking(event.id, aktUser.id, page)}">
	                <input type="hidden" name="event.id" value="${event.id}"/>
               
	                #{if event.vegetarian_opt}
	                	<label>
	                  	<input type="checkbox" name="vegetarian">
	                  	vegetarisch
	                	</label>
	                #{/if}
              	  <input type="submit" class="btn btn-success" value="Buchen">
              	  </form>
              	  #{/if}
 			  	  #{else}
              		ausgebucht
              	  #{/else}
              #{/else}
            </td>
          </tr>
          <tr class="details">
            <td colspan="8">${event.details}</td>
          </tr>
          #{/list}
        </tbody>
      </table>
     #{list items:1..cpages, as:'i'}
     	#{if i == page}
        ${i}
        #{/if}
        #{else}
        <a href="@{index(i)}">${i}</a>
        #{/else}
    #{/list}

    </div>
  </div>
</div>
