<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>innoMittach</title>
  <link rel="shortcut icon" href="@{'/public/images/favicon.ico'}">
  <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.min.css'}">
  <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap-responsive.min.css'}">
  <link rel="stylesheet" href="@{'/public/stylesheets/main.css'}">
  <link rel="stylesheet" href="@{'/public/stylesheets/kalendae.css'}">
</head>
<body>
  <div class="container">
    <header>
      <a href="@{IndexController.index(1)}"> <img src="@{'/public/images/logo.png'}"></a>
      <p>Mahlzeit, ${aktUser}</p>
      <p>Mitarbeiter 3 €, Externe 5 €</p>
    </header>
    <nav>
        <div id="admin">
        <a href="@{AdminController.reports(null, null)}">
            Report last Month</a>
        <br>
        <a href="@{AdminController.manualReports()}">
            Report Other Month</a>
        <br>
        <a href="@{JsonController.createEventJson()}">
            Create Event with Json String</a>
        <br>
        <a href="/">
            Admin verlassen
        </a>
       </div>
    </nav>
<div id ="alerts">
    <p class="alert alert-info">
        Bei Fragen oder Anregungen wendet euch bitte an
        <a href="mailto:anja.angermann@innoq.com">Anja</a>
    </p>
    <p class="alert alert-info">
        Bitte meldet euch verbindlich bis Freitag um 24 Uhr für die darauf
        folgende Woche an: nach dieser Zahl wird Anja Ihre Einkäufe tätigen.
        Wenn durch Krankheit oder Kundentermine das Essen nicht in Anspruch
        genommen werden kann, sollte möglichst kurzfristig, spätestens jedoch am
        Vortag, storniert werden. Die dadurch frei gewordenen Essen können dann
        an Interessenten "weitergegeben" werden.
    </p>
</div>

     <div name="alert"></div>
    <div id="main">
            #{doLayout /} 
        </div>
  </div>

  <script src="@{'/public/javascripts/jquery.min.js'}"></script>
  <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
  <script src="@{'/public/javascripts/kalendae.min.js'}"></script>
  <script src="@{'/public/javascripts/application.js'}"></script>
</body>
</html>

